/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #000;
    --secondary-color: #FFF;
    --accent-color1: #333;
    --accent-color2: #CCC;

    --title-font: 'Birthstone', 'Times New Roman', serif;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --paragraph-font: 'Open sans', Helvetica, sans-serif;
}

